@import url('https://fonts.googleapis.com/css2?family=Raleway');

* {
  margin: 0;
}

.material-icons-round {
  user-select: none;
}

body {
  height: 100vh;
  width: 100%;
  
  display: flex;
  flex-direction: column;

  font-family: 'Raleway', sans-serif;
  background-color: #CBD5E1;
}

header {
  padding: 1rem 0.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #eff6ff;
  background-color: #1e3a8a;
  border-left: 0.25rem solid #00000000;
  border-right: 0.25rem solid #00000000;

  user-select: none;
}

header h1 {
  font-size: 1.25rem;
}

header figure {
  height: 2rem;
  margin: 0;
}

header figure img {
  height: 100%;
  width: 100%;

  object-fit: contain;
  object-position: center;
}

header.connected {
  border-left-color: #57F287;
}

header.idle {
  border-left-color: #FEE75C;
}

header.disconnected {
  border-left-color: #ED4245;
}

header.disconnected .spinner {
  animation: spin 1s ease-in-out infinite;
}

header.disconnected figure {
  animation: pop 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes pop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.app {
  padding: 0.75rem;
  margin: 0.25rem;

  display: flex;
  flex-direction: column;

  background-color: #F1F5F9;
  border-radius: 0.25rem;

  cursor: pointer;
}

.app-info {
  display: flex;
  align-items: center;
}

.app-logo {
  flex-grow: 0;

  width: 2rem;
  margin: 0;
  margin-right: 0.75rem;
}

.app-logo img {
  height: 100%;
  width: 100%;

  object-fit: contain;
  object-position: center;
}

.app-info-text {
  flex-grow: 1;
}

.app-info-text h3 {
  font-size: 1rem;
  margin-bottom: 2px;
}

.app-info-text p {
  font-size: 0.8rem;
}

.app-status {
  flex-grow: 0;
}

.app-status {
  font-size: 1.25rem;
}

.app-status.connected {
  font-size: 1.75rem;
  color: #57F287;
}

.app-actions {
  display: none;
}

.app.opened {
  padding-bottom: 0.25rem;
}

.app.opened .app-actions {
  margin-top: 0.75rem;
  border-top: 1px solid #CBD5E1;
  padding-top: 0.25rem;

  display: flex;
  justify-content: space-between;

  position: relative;
}

.app-actions button {
  width: 45%;
  padding: 0.5rem 0;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 0.8rem;
  
  background: none;
  border: none;
  border-radius: 2px;

  transition: all 0.65s 0s;
  user-select: none;
  cursor: pointer;
}

.app-actions button .material-icons-round {
  padding-right: 0.25rem;
  font-size: 1.1rem;
}

.app-actions button:hover {
  background-color: #CBD5E160;
}

.app-actions::after {
  content: "";
  display: block;
  width: 2px;
  height: 1.6rem;

  position: absolute;
  top: 0.5rem;
  left: calc(50% - 1px);

  background-color: #CBD5E1;
}
