@import url('https://fonts.googleapis.com/css2?family=Raleway');

* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  font-family: 'Raleway', sans-serif;
  background-color: #efe0cb;
}

#header {
  height: 12vh;
  padding: 0.5rem 1rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  background-color: #e49076;
}

#header .image {
  height: 100%;
  margin-right: 2rem;
}

#header .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#header .title {
  margin-right: 0.75rem;
  font-size: 2rem;
}

.divider {
  margin-right: 0.75rem;
}

#header .subtitle {
  font-size: 1.5rem;
}

#player-container {
  position: relative;
  
  height: 88vh;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
}

#player-container #player {
  height: 100%;
  width: 100%;
}

#player-container .popup {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
}

#player-container .popup:not(.visible) {
  display: none;
}

#player-container .popup .popup-content {
  height: 100%;
  width: 100%;
  padding: 2rem 4rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #efe0cb;
  font-size: 1.5rem;
  hyphens: auto;
  background-color: #746f69;
}
