@import url('https://fonts.googleapis.com/css2?family=Raleway');

* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #efe0cb;
}

#header {
  padding: 0.5rem 1rem;

  display: flex;
  flex-wrap: wrap;

  background-color: #e49076;
}

#header > * {
  height: 12vh;

  display: flex;
  align-items: center;
}

#header .image {
  margin-right: 2rem;
}

#header .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#header .title {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.divider {
  margin-right: 0.75rem;
  font-weight: bold;
}

#header .subtitle {
  font-size: 1.5rem;
}

#player-info {
  width: 100%;
  padding: 1.5rem 2rem 0 2rem;
  box-sizing: border-box;

  font-size: 1.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#player-info:not(.visible) {
  display: none;
}

#player-container {
  position: relative;
  
  height: 80vh;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
}

#player-container #player {
  height: 100%;
  width: 100%;
}

#player-container .popup {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
}

#player-container .popup:not(.visible) {
  display: none;
}

#player-container .popup .popup-content {
  height: 100%;
  width: 100%;
  padding: 2rem 4rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #efe0cb;
  font-size: 1.25rem;
  hyphens: auto;
  text-align: center;

  background-color: #746f69;
}

@media only screen and (max-width: 800px) {
  #header > * {
    height: 8vh;
  }

  #header > :last-child {
    height: 6vh;
  }
  
  #header .title {
    font-size: 1.5rem;
  }

  #header .divider {
    display: none;
  }

  #header .subtitle {
    font-size: 1rem;
  }

  #player-info {
    font-size: 0.9rem;
  }

  #player-info {
    padding: 1.5rem 1rem 0 1rem;
  }

  #player-container {
    height: 70vh;
    padding: 1.5rem 1rem;
  }

  #player-container .popup {
    padding: 1.5rem 1rem;
  }

  #player-container .popup .popup-content {
    font-size: 0.8rem;
  }
}
